<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= h.siteName %></title>
</head>
<body>
  <%- include('header') %>
  <h2>This is a test</h2>
</body>
</html>